@using Infrastructure.Dtos.Gallery;
@model Infrastructure.Dtos.Gallery.GalleryItemCreateDto

@{
    Layout = Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest" ? null : "_Layout";
    ViewData["Title"] = "View";
    ViewData["ActiveItem"] = "gallery";
    var GalleryInfo = (GalleryDto)ViewBag.GalleryInfo;
}

<div class="row">
    <div class="col-12">
        <img src="/File/GetImage/@GalleryInfo.MainFileId?Width=200&Height=150" class="img-fluid" />
    </div>
    <div class="col-6">@Infrastructure.Helpers.Translator.TranslateText("","Title Ar")</div>
    <div class="col-6">@GalleryInfo.TitleAr</div>
    <div class="col-6">@Infrastructure.Helpers.Translator.TranslateText("","Title En")</div>
    <div class="col-6">@GalleryInfo.TitleEn</div>
</div>

<h1>@Infrastructure.Helpers.Translator.TranslateText("","View")</h1><hr>

<h4>@Infrastructure.Helpers.Translator.TranslateText("","Gallery Item")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateItem" enctype="multipart/form-data" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3 col-sm-6 col-md-5 col-xxl-4">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="GalleryId" value="@GalleryInfo.Id" />
            <div class="form-group mb-3 col-sm-6 col-md-5 col-xxl-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var item in GalleryInfo.Items)
    {
        <div class="col-3">
            <img src="/File/GetImage/@item.FileId?Width=200&Height=150" class="img-fluid" />
            <br/>
            <form method="post" class="d-inline" asp-action="DeleteGallleryItem" asp-route-id="@item.Id" asp-route-GalleryId="@GalleryInfo.Id" onsubmit="return confirm('@Infrastructure.Helpers.Translator.TranslateText("","Are you sure you want to delete this?")');">
                                            <button class="btn btn-link p-0" type="submit">@Infrastructure.Helpers.Translator.TranslateText("","Delete")</button>
                                        </form>
        </div>
    }
</div>

<div>
    <a asp-action="Index">@Infrastructure.Helpers.Translator.TranslateText("","Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
